.main {
    height: 100vh;
    background-color: #DDDDDD;
}

.form {
    background-color: #FFFFFF;
    width: 700px;
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_body {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.form_input {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.w-full {
    width: 100%;
    margin: 10px;
}

input {
    display: block;
    border-radius: 5px;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #EFEFEF;
    width: 96%;
}

.flex-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    width: 100%;
    height: 50px;
    background-color: #43946D;
    color: white;
    border: 0px;
    border-radius: 5px;

}

.form_content {
    background-image: linear-gradient(#67CC9A, #43946D);
    width: 100%;
}

.signup {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.1);
}

.full {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}